<div class="row about">
  <div class="medium-4 medium-offset-2 columns">
    <div class="profile-card">
      <img ng-src="{{ctrl.ben}}" alt="Ben" />
      <div class="profile-info">
        <h4 class="subheader">Ben</h4>
        <p>Web developer currently employed at ReverbNation.</p>
        <ul class="inline-list">
          <li><a href="https://reverbnation.com" target="_blank"><i class="fi-web"></i></a></li>
          <li><a href="https://www.linkedin.com/pub/benjamin-long/15/a66/31b" target="_blank"><i class="fi-social-linkedin"></i></a></li>
          <li><a href="https://github.com/blong14" target="_blank"><i class="fi-social-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="medium-4 columns end">
    <div class="profile-card">
      <img ng-src="{{ctrl.dora}}" alt="Dora" />
      <div class="profile-info">
        <h4 class="subheader">Dora</h4>
        <p>Physical Therapist, 'nuff said!</p>
        <ul class="inline-list">
          <li><a href="http://dpt.duhs.duke.edu/Faculty/" target="_blank"><i class="fi-web"></i></a></li>
          <li><a href="https://www.linkedin.com/pub/dora-gosselin/53/2a7/a82" target="_blank"><i class="fi-social-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
