<section class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan">2508w</p>
      <header class="header">
        <ul class="header-subnav">
          <li ui-sref-active="is-active"><a ui-sref="main">Home</a></li>
          <li ui-sref-active="is-active"><a ui-sref="about">About</a></li>
          <li ui-sref-active="is-active"><a ui-sref="apps">Applications</a></li>
        </ul>
      </header>
      <p class="copywrite">&copy; <a href="https://www.2508w.club">2017 2508w</a></p>
    </div>
  </div>
</section>
