<div class="photo-album">
  <div class="row" style="margin-bottom: 10px;"><a href="javasript:;" ng-href="blvd/album">Back</a></div>
  <div class="row">
    <ul class="clearing-thumbs small-block-grid-2 medium-block-grid-3 large-block-grid-4" data-clearing>
      <li ng-repeat="image in photo.album[photo.id].images" foundation-reflow data-reflow="clearing">
        <a class="image-wrapper overlay-fade-in th" ng-href="{{image.images.standard_resolution.url}}">
          <img ng-src="{{image.images.standard_resolution.url}}" data-caption="{{image.caption.text}}" />
          <div class="image-overlay-content">
            <h2>{{image.user.username}}</h2>
            <p>{{image.caption.text}}</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="row">
    <a href="javascript:;" ng-click="photo.more(photo.id,photo.album[photo.id].pagination.next_url)"
       ng-if="photo.album[photo.id].pagination.next_url">
       More
    </a>
  </div>
</div>
