<nav id="nav" class="top-bar" data-topbar data-foundation-reflow="equalizer">
  <ul class="title-area">
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="javascript:;"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="center-buttons">
      <li><a href="blvd">Home</a></li>
      <li><a href="blvd/about">About</a></li>
      <li><a href="blvd/apps">Applications</a></li>
    </ul>
  </section>
</nav>
