<div class="row photo-album">
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
    <li>
      <div class="photo-card">
        <div class="box">
          <div class="box-icon">
              <img ng-src="{{photo.album.gonghead.images[0].images.standard_resolution.url}}" />
          </div>
          <div class="info text-center">
            <h4><a ng-href="blvd/album/gonghead">Nags Head 2016</a></h4>
            <p>Glorious Spring Break Fun</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="photo-card">
        <div class="box">
          <div class="box-icon">
              <img ng-src="{{photo.album.gongtourneytime.images[0].images.standard_resolution.url}}" />
          </div>
          <div class="info text-center">
            <h4><a ng-href="blvd/album/gongtourneytime">Tourney Time 2016</a></h4>
            <p>Rip 'em up, tear 'em up, give 'em hell Duke!</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="photo-card">
        <div class="box">
          <div class="box-icon">
              <img ng-src="{{photo.album.fifteen19.images[0].images.standard_resolution.url}}" />
          </div>
          <div class="info text-center">
            <h4><a ng-href="blvd/album/fifteen19">fifteen19</a></h4>
            <p>Cosa Nostra</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="photo-card">
        <div class="box">
          <div class="box-icon">
              <img ng-src="{{photo.album.gongholidays2015.images[0].images.standard_resolution.url}}" />
          </div>
          <div class="info text-center">
            <h4><a ng-href="blvd/album/gongholidays2015">Holidays</a></h4>
            <p>Holidays in the new house!</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="photo-card">
        <div class="box">
          <div class="box-icon">
              <img ng-src="{{photo.album.sadiegenisseven.images[0].images.standard_resolution.url}}" />
          </div>
          <div class="info text-center">
            <h4><a ng-href="blvd/album/sadiegenisseven">Aloha 7</a></h4>
            <p>A big Hawaiian birthday for the little one!</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="photo-card">
        <div class="box">
          <div class="box-icon">
            <img ng-src="{{photo.album.HulaGong2015.images[7].images.standard_resolution.url}}" />
          </div>
          <div class="info text-center">
            <h4><a ng-href="blvd/album/HulaGong2015">HulaGong</a></h4>
            <p>Hawaii, as we saw it!</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="photo-card">
        <div class="box">
          <div class="box-icon">
              <img ng-src="{{photo.album.bullochili2014.images[0].images.standard_resolution.url}}" />
          </div>
          <div class="info text-center">
            <h4><a ng-href="blvd/album/bullochili2014">bullochili</a></h4>
            <p>The 2014 edition of our annual chili cookoff and outdoor movie!</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="photo-card">
        <div class="box">
          <div class="box-icon">
              <img ng-src="{{photo.album.bullochili2013.images[0].images.standard_resolution.url}}" />
          </div>
          <div class="info text-center">
            <h4><a ng-href="blvd/album/bullochili2013">bullochili the first</a></h4>
            <p>The inaugural chili fun!</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
